@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.hero-gradient {
  background-attachment: scroll; /* fixes iOS bug */
}

.footer-gradient {
  background-attachment: scroll; /* fixes iOS bug */
}
